main {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
main header {
    width: 100%;
    padding: 3em 0;
    text-align: left;
}
main header .title {
    font-size: 20px;
    font-weight: lighter;
}

main section {
    width: 100%;
    text-align: center;
    padding: 20em 0 4em 0;

}

main .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 167px;
  width               : 1200px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}

main .group12 .rectangle {
  background-color    : rgba(219, 79, 60, 1.0);
  top                 : 20px;
  height              : 180px;
  width               : 1200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 16px;
  transform           : rotate(0deg);
  opacity             : 0.69;
}

main .group12 .lunchru2014tontonmarty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 187px;
  width               : 209px;
  position            : absolute;
  margin              : 0;
  left                : 944px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}

main .group12 .welcomeback {
  background-color: rgba(255, 255, 255, 0.0);
  top: 94px;
  height: auto;
  width: auto;
  position: absolute;
  margin: 0;
  left: 44px;
  transform: rotate(0deg);
  opacity: 1.0;
  font-family: "ProductSans-Bold", Helvetica, Arial, serif;
  font-size: 30.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: left;
  letter-spacing: 0.81px;
  line-height: 37.0px;
}


.nav.nav-tabs {
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    align-items: stretch;
    border: none;
    top: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}


.nav.nav-tabs li {
    display: inline-block;
    margin: .5em auto;
    padding: 0px;
}
.nav.nav-tabs li a {
    border: none;
    background: #fff;
    border: none;
    border-radius: 0px;
    padding: .5em;
    color: gray;
    font-size: 14px;
    font-weight: normal;
}
.nav.nav-tabs li a.active {
    background: rgba(242, 106, 75, 1.0);;
    color: #fff;
    border-color: blue;
}


.tab-content {
    width: 100%;

}

.tab-content .tab-pane {
    width: 100%;
    padding: 4em 0;
}

form {
    background-color: #f9f9f9;
    width: 500px;
    padding: 2em;
    border-radius: 2px;
    margin: auto;
}

form .form-group {
    width: 100%;
    margin: .5em 0 2em 0;
}

form .form-group input, form .form-group select {
    width: 100%;
    border: none;
    outline: none;
    background-color: #d6d6d6;
    border-radius: 2px;
    padding: .5em;
    font-size: 13px;
}

form .form-group textarea {
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    background-color: #d6d6d6;
    border-radius: 2px;
    padding: .5em;
    font-size: 13px;
}

form .btn-wrap {
    width: 100%;
    margin: .5em 0;
}



.list-wrap {
    width: 500px;
    background-color: transparent;
    padding: 2em 0;
    margin: auto;
}

.list-wrap .list-item {
    width: 100%;
    background-color: #f9f9f9;
    margin: 0 0 2px 0;
    padding: 1em; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-wrap .list-item:hover{
    background-color: tomato;
    color: #f9f9f9;
}

.list-wrap .list-item span {
    font-size: 12px;
}

.list-wrap .list-item fa-icon {
    font-size: 10px;
    cursor: pointer;
}
.list-wrap .list-item fa-icon:hover {
    font-size: 14px;
}

.list-wrap lottie-player {
    background: transparent;
    width: 100px; 
    height: 100px;
}

