<ngx-spinner></ngx-spinner>
<main class="container-fluid">

  <header class="container-fluid">
    <div class="title">Branch Performance</div>

    <div class="container">
      <div class="rectangle">

        <div class="welcomeback">
          <p>Compare customer experience in all your branches</p>
        </div>

        <div>
          <img src="./assets/images/dashboard/dashboard-lunchr-u2014-tonton-marty@2x.png" class="lunchru2014tontonmarty"/>
        </div>


      </div>

    </div>

  </header>

  <section class="body-section">
    <div class="container-fluid">

<!--      Average sat rate per branch bar chart-->


      <div class = "row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Total Number Of Ratings Per Branch</h4><br>

              <div class="list-wrap">
                <div class="list-item d-flex" *ngFor="let item of AllBranches">
                  <span class="mr-auto">{{item.branchName}}</span>
                  <span class="mr-auto" *ngIf="TotalNoOfRatingsByOrgBranch">{{TotalNoOfRatingsByOrgBranch}}</span>

                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class = "row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Average Satisfaction Rate Per Branch</h4><br>
            <div class="list-wrap">
              <div class="list-item d-flex" *ngFor="let item of AllBranches">
                <span class="mr-auto">{{item.branchName}}</span>
                <span class="mr-auto" *ngIf="AverageSatRateByOrgBranch">{{AverageSatRateByOrgBranch}} %</span>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

<!--      Most frequently selected emojis per branch-->

      <div class = "row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">How most of your customers felt about their experience at each branch</h4><br>

              <div class="list-wrap">
                <div class="list-item d-flex" *ngFor="let item of AllBranches">
                  <span class="mr-auto">{{item.branchName}}</span>

                  <lottie-player *ngFor="let item of MostFreqSelectedEmojiByOrgBranch"
                                 [src] = "item.emojiJson" class="mx-auto" speed="1" loop  autoplay ><!-- add  'controls' to see controls -->
                  </lottie-player>

              </div>

            </div>
          </div>

          </div>
      </div>
</div>

<!--Top issues per branch-->
      <div class = "row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Top issues in every branch</h4>
              <div class="list-wrap">
                <div class="list-item d-flex" *ngFor="let item of AllIssues">
                  <div class="mr-auto">{{item.branchName}}</div>
                 <div>{{item.response}}</div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

</main>

