<main class="container-fluid" style="background-color: #f9f9f9">

  <header>
    <div class="nav-back" routerLink="/customers"><i class="fa fa-angle-left"> <span> Customers</span></i> </div><br>
    <div class="title">Marty Byrde</div>
  </header>

  <section class="body">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-block">
              <img src="./assets/images/dashboard/dashboard-lunchr-u2014-tonton-marty@2x.png" alt="Avatar" class="avatar"><br>
              <p class="card-text" style="font-size: 20px; margin-top: 10px;"> Marty Byrde</p>
              <p class="card-text">martyb@gmail.com</p>
              <p class="card-text">Male</p>
              <p class="card-text">24</p>
              <p class="card-text">Nairobi, Kenya</p>
              <p class="card-text" style="color: #BD362F">5 ratings in total</p><br>
              <hr>
              <p>Last rating was at: <span class="rating-time">4:15pm</span> on <span class="rating-date">14/05/2020</span></p>
            </div>

          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-block">
              <p class="card-text">CUSTOMER PRIVACY</p>
              <p class="card-text3">REQUEST CUSTOMER DATA</p>
                <p>Get a copy of this customer's data by email so you can forward it to them.</p>
              <button>Request data</button>
            </div>

          </div>

        </div>
      </div>


    </div>
  </section>

</main>
