
<header class="header colored sticky-header" data-scroll="out">
  <div class="c-container">
    <div class="nav-items">
      <a href="">
        <img class="org-logo" src="https://md-aqil.github.io/images/logo2.png" alt="">
      </a>
      <ul class="main-nav">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Action Plans</a>
        </li>

        <!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">BLOGS</a>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</header>

<main id="main" class="">

  <router-outlet></router-outlet>

</main>
