<ngx-spinner></ngx-spinner>
<main class="container-fluid">
    <header>
        <div class="title">Editorial</div>

      <div class="container">
        <div class="rectangle2">

          <div class="welcomeback">
            <p>Welcome back !</p>
          </div>

          <div>
            <img src="./assets/images/dashboard/dashboard-lunchr-u2014-tonton-marty@2x.png" class="lunchru2014tontonmarty"/>
          </div>


        </div>

      </div>

    </header>

    <section class="body-section">

        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="interest-tab" data-toggle="tab" href="#interest" role="tab" aria-controls="interest" aria-selected="true" >Interests</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="industry-tab" data-toggle="tab" href="#industry" role="tab" aria-controls="industry"  aria-selected="false" >Industries</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="ratingRange-tab"  data-toggle="tab" href="#ratingRange"  role="tab" aria-controls="ratingRange"  aria-selected="false" >Rating Ranges</a >
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="emoji-tab"  data-toggle="tab" href="#emoji"  role="tab" aria-controls="emoji"  aria-selected="false" >Emojis</a >
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="question-tab"  data-toggle="tab"  href="#question"  role="tab" aria-controls="question" aria-selected="false" >Questions</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="response-tab"  data-toggle="tab" href="#response"  role="tab" aria-controls="response"  aria-selected="false" >Responses</a >
                </li>

                <li class="nav-item">
                    <a class="nav-link " id="possibleSolution-tab"  data-toggle="tab" href="#possibleSolution"  role="tab" aria-controls="possibleSolution"  aria-selected="false" >Possible Solutions</a >
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="reward-tab"  data-toggle="tab" href="#reward"  role="tab" aria-controls="reward"  aria-selected="false" >Rewards</a >
                </li>
        </ul>
        
        <div class="tab-content" id="myTabContent">
            <!-- Interest -->
                <div class="tab-pane fade show active" id="interest" role="tabpanel"aria-labelledby="interest-tab" >
                    <form class="form" class="form">
                        <div class="form-group">
                            <input type="text" placeholder="Interest Name" name="interestName" [(ngModel)]="interestForm.interestName">
                        </div>

                        <div class="btn-wrap">
                            <button class="btn btn-sm btn-success" (click)="addInterest()">Save</button>
                        </div>
                    </form>

                    <div class="list-wrap">
                        <div class="list-item d-flex" *ngFor="let item of AllInterests"> <span class="mr-auto">{{item.interestName}}</span> <fa-icon [icon]="faTrash" (click)="removeInterest(item._id)"></fa-icon></div>
                    </div>

                </div>

            <!-- Industries -->
            <div class="tab-pane fade" id="industry" role="tabpanel"aria-labelledby="industry-tab">
                <form class="form" class="form">
                    <div class="form-group">
                        <input type="text" placeholder="Industry Name" name="industryName" [(ngModel)]="industryForm.industryName">
                    </div>

                    <div class="btn-wrap">
                        <button class="btn btn-sm btn-success" (click)="addIndustry()">Save</button>
                    </div>
                </form>
                <div class="list-wrap">
                    <div class="list-item d-flex" *ngFor="let item of AllIndustries"> <span class="mr-auto">{{item.industryName}}</span> <fa-icon [icon]="faTrash" (click)="removeIndustries(item._id)"></fa-icon></div>
                </div>
            </div>


            <!-- ratingRange -->
            <div class="tab-pane fade" id="ratingRange" role="tabpanel" aria-labelledby="ratingRange-tab" >
                <form class="form" class="form">
                    <div class="form-group">
                        <input type="number" placeholder="Minimum Rate" name="minimumRange" [(ngModel)]="ratingRangeForm.minimumRange">
                    </div>

                    <div class="form-group">
                        <input type="number" placeholder="Maximum Rate" name="maximumRange" [(ngModel)]="ratingRangeForm.maximumRange">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Range Name" name="rangeName" [(ngModel)]="ratingRangeForm.rangeName">
                    </div>

                    <div class="form-group">
                      <input type="text" placeholder="Range Message" name="rangeName" [(ngModel)]="ratingRangeForm.rangeMessage">
                    </div>

                    <div class="btn-wrap">
                        <button class="btn btn-sm btn-success" (click)="addRatingRange()">Save</button>
                    </div>
                </form>
                <div class="list-wrap">
                    <div class="list-item d-flex" *ngFor="let item of AllRatingRanges">
                      <span class="mr-auto">{{item.rangeName}}</span> <fa-icon [icon]="faTrash" (click)="removeRatingRange(item._id)"></fa-icon>
                    </div>
                </div>
            </div>

            <!-- Emoji range -->
            <div class="tab-pane fade" id="emoji" role="tabpanel" aria-labelledby="emoji-tab" >
                <form class="form" class="form">
                    <div class="form-group">
                        <input type="text" placeholder="Emoji Name" name="emojiName" [(ngModel)]="emojiForm.emojiName">
                    </div>

                     <div class="form-group">
                        <select type="text" name="rangeId" [(ngModel)]="emojiForm.rangeId">
                            <option value="" disabled selected hidden> --- Select Rating Range</option>
                            <option *ngFor="let item of AllRatingRanges"  [value]="item._id">{{item.rangeName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <textarea type="text" placeholder="Emoji Json Text" name="emojiJson" [(ngModel)]="emojiForm.emojiJson"></textarea>
                    </div>

                  <div class="form-group">
                    <input type="text" placeholder="Emoji Message" name="emojiName" [(ngModel)]="emojiForm.emojiMessage">
                  </div>


                  <div class="btn-wrap">
                        <button class="btn btn-sm btn-success" (click)="addEmoji()">Save</button>
                    </div>
                </form>
                <div class="list-wrap">
                    <div class="list-item d-flex" *ngFor="let item of AllEmojis">
                        <span class="mr-auto">{{item.emojiName}}</span>
                        <lottie-player
                        [src]="item.emojiJson" class="mx-auto" speed="1" loop  autoplay > <!-- add  'controls' to see controls -->
                        </lottie-player>

                    <fa-icon [icon]="faTrash" class="ml-auto" (click)="removeEmoji(item._id)"></fa-icon></div>
                </div>
            </div>


            <!-- Question -->
            <div class="tab-pane fade" id="question" role="tabpanel" aria-labelledby="question-tab" >
                <form class="form" class="form">
                    <div class="form-group">
                        <select type="text"  name="industryId" [(ngModel)]="questionForm.industryId">
                            <option value="" disabled selected hidden> --- Select industry</option>
                            <option *ngFor="let item of AllIndustries" [value]="item._id">{{item.industryName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select type="text" name="ratingRangeId" [(ngModel)]="questionForm.ratingRangeId">
                            <option value="" disabled selected hidden> --- Select Range</option>
                            <option *ngFor="let item of AllRatingRanges" [value]="item._id">{{item.rangeName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Question" name="question" [(ngModel)]="questionForm.question">
                    </div>

                    <div class="btn-wrap">
                        <button class="btn btn-sm btn-success" (click)="addQuestion()">Save</button>
                    </div>
                </form>
                <div class="list-wrap">
                    <div class="list-item d-flex" *ngFor="let item of AllQuestions"> <span class="mr-auto">{{item.question}}</span> <fa-icon [icon]="faTrash" (click)="removeQuestion(item._id)"></fa-icon></div>
                </div>
            </div>

              <!-- Response -->
              <div class="tab-pane fade" id="response" role="tabpanel" aria-labelledby="response-tab" >
                  <form class="form" class="form">
                      <div class="form-group">
                          <select type="text"  name="questionId" [(ngModel)]="responseForm.questionId">
                              <option value="" disabled selected hidden> --- Select Question</option>
                              <option *ngFor="let item of AllQuestions" [value]="item._id">{{item.question}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <input type="text" placeholder="Response" name="response" [(ngModel)]="responseForm.response">
                      </div>

                      <div class="btn-wrap">
                          <button class="btn btn-sm btn-success" (click)="addResponse()">Save</button>
                      </div>
                  </form>
                  <div class="list-wrap">
                      <div class="list-item d-flex" *ngFor="let item of AllResponses"> <span class="mr-auto">{{item.response}}</span> <fa-icon [icon]="faTrash" (click)="removeResponse(item._id)"></fa-icon></div>
                  </div>
              </div>

          <!-- possibleSolution -->
              <div class="tab-pane fade" id="possibleSolution" role="tabpanel" aria-labelledby="possibleSolution-tab" >
                  <form class="form" class="form">
                      <div class="form-group">
                          <select type="text" name="responseId" [(ngModel)]="possibleSolutionForm.responseId">
                              <option value="" disabled selected hidden> --- Select Response</option>
                              <option *ngFor="let item of AllResponses" [value]="item._id">{{item.response}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <input type="text" placeholder="Solution" name="solution" [(ngModel)]="possibleSolutionForm.solution">
                      </div>

                      <div class="btn-wrap">
                          <button class="btn btn-sm btn-success" (click)="addPossibleSolution()">Save</button>
                      </div>
                  </form>
                  <div class="list-wrap">
                      <div class="list-item d-flex" *ngFor="let item of AllPossibleSolutions"> <span class="mr-auto">{{item.solution}}</span> <fa-icon [icon]="faTrash" (click)="removeSolution(item._id)"></fa-icon></div>
                  </div>
              </div>



          <!-- Rewards -->
          <div class="tab-pane fade" id="reward" role="tabpanel" aria-labelledby="reward-tab" >
            <form class="form" class="form">
<!--                <div class="form-group">-->
<!--                    <select type="text" name="responseId" [(ngModel)]="rewardForm.orgId">-->
<!--                        <option value="" disabled selected hidden> -&#45;&#45; Select Org</option>-->
<!--                        <option *ngFor="let item of AllOrgProfiles" [value]="item._id">{{item.businessName}}</option>-->
<!--                    </select>-->
<!--                </div>-->
                <div class="form-group">
                    <input type="number" placeholder="Points" name="points" [(ngModel)]="rewardForm.points">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Reward" name="reward" [(ngModel)]="rewardForm.reward">
                </div>

                <div class="btn-wrap">
                    <button [disabled]="rewardForm.points === null || rewardForm.reward === ''"
                     class="btn btn-sm btn-success"  (click)="addReward()">Save</button>
                </div>
            </form>
            <div class="list-wrap">
                <div class="list-item d-flex" *ngFor="let item of AllRewards"> <span class="mr-auto">{{item.points}} points = {{item.reward}}</span> <fa-icon [icon]="faTrash" (click)="removeReward(item._id)"></fa-icon></div>
            </div>
        </div>



      </div><!-- tab-content -->
        
        
    
    
    </section>
</main>








