<nav class="navbar navbar-expand-md navbar-light">

  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link site-title" routerLink="/landing">Rate Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-dashboard">Our Story</a>
      </li>

    </ul>
  </div>


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-submit1" routerLink="/signup">Sign Up</button>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-submit2" routerLink="/login">Log In</button>
      </li>
    </ul>
  </div>
</nav>



  <section class="container-fluid">

    <div class="split left">
      <div class="centered">
        <p class="welcome-message">Welcome to Rate Me</p>
<!--        <p>Surveys that are straight to the point</p>-->
      </div>
    </div>

    <div class="split right">
      <img src="./assets/images/landing-page-screenshot-2020-01-21-132616.png">
    </div>

  </section>

<!--<section class="container-fluid">-->

<!--      <div class="split2 left2">-->
<!--        <div class="centered2">-->
<!--          <img src="./assets/images/landing-page-screenshot-2020-03-03-111607.png">-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="split2 right2">-->
<!--        <p>Send out surveys that are straight to the point</p>-->

<!--      </div>-->
<!--</section>-->




