<main class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <header class="container-fluid">
    <div class="title">General</div>
    <span class="pull-right"><button style="background-color: #264d59">Save changes</button></span>

  </header>
  <hr>


  <section class="body">
    <div class="container-fluid">

      <form class="form" [formGroup]="updateOrgProfileForm" (ngSubmit)="onSubmit()">


      <!--First row-->
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
         <p>Business Details</p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-block">
              <img *ngIf="!MyProfile" src="./assets/images/landing-page-javalogo2@2x.png" alt="Avatar" class="avatar">
              <img *ngIf="MyProfile" [src]="MyProfile.logo.url" [alt]="MyProfile.logo.name" class="avatar">
                <span><button class="signupbtn" (click)="logoFileInput.click()">Upload different business logo</button></span>
                <span><input hidden readonly type="file" #logoFileInput name="fileUploaded" (change)="uploadLogo($event)" placeholder="Upload different business logo"></span> 
       
              <hr>
              <div class="form-group">
                <label><b>Business name</b></label>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       formControlName="businessName" [class.is-invalid]="formUpdateProfle.businessName.invalid && formUpdateProfle.businessName.touched"
                       placeholder="Change business name" name="business-name" required>
              </div>
              <hr>

              <div class="form-group">
                <label><b>Email</b></label>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                       formControlName="email" [class.is-invalid]="formUpdateProfle.email.invalid && formUpdateProfle.email.touched"
                       placeholder="Change Email"  name="email" required>

              </div>

              <hr>

              <div class="form-group">
                <label><b>Your business branches</b></label>
                <br>
                <p style="font-size: 13px">Add your business branches</p>

                <form class="form" class="form">

                  <div class="form-group">
                    <input type="text" placeholder="Branch Name" name="branchName" [(ngModel)]="branchForm.branchName">
                  </div>

                  <div class="btn-wrap">
                    <button class="btn btn-sm btn-success" (click)="addOrgBranch()">Save</button>
                  </div>

                </form>

                <hr>

                <p><b>Saved branches</b></p><br>
                <div class="list-wrap">
                  <div class="list-item d-flex" *ngFor="let item of AllBranches"> <span class="mr-auto">{{item.branchName}}</span> <fa-icon [icon]="faTrash" (click)="removeBranch(item._id)"></fa-icon></div>
                </div>

              </div>

            </div>

            </div>
          </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          Business Address
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-block">
              <div class="form-group">
                <label><b>Location</b></label>
                <input type="input" class="form-control"
                       aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Location"
                       formControlName="location" [class.is-invalid]="formUpdateProfle.location.invalid && formUpdateProfle.location.touched"
                       placeholder="Location of business" name="location" required>

              </div>


            </div>
          </div>


        </div>

      </div>
    <hr>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        Security
      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-block">
            <div class="form-group">
              <label><b>You last changed your password 8 months ago</b></label>

              <button data-toggle="modal" data-target="#passwordModal">Change Password</button>

            </div>


          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label><b>Current Password</b></label>
                    <input type="password" class="form-control"
                           placeholder="Enter Password" name="psw" required>
                </div>

                <div class="form-group">
                  <label><b>New Password</b></label>
                    <input type="password" class="form-control"
                            formControlName="password" [class.is-invalid]="formUpdateProfle.password.invalid && formUpdateProfle.password.touched"
                            placeholder="New Password" name="psw" required>
                </div>

              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-submit" [disabled]="!updateOrgProfileForm.valid">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <hr>

      </form>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <p>QR Code</p>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6" id="qrCode" >
      <img *ngIf="MyProfile" [src]="MyProfile.qrCode" alt="">
      <button type="button" *ngIf="MyProfile" (click)="downLoadQrCode() "style="background-color: #264d59">Download QR Code</button>
    </div>

  </div>

    </div>




  </section>

</main>



