<main class="container-fluid">

  <header class="container-fluid">
    <div class="title">Customers</div>

    <div class="container">
      <div class="rectangle2">

        <div class="welcomeback">
          <p>Have a look at customers who have rated your service</p>
        </div>

        <div>
          <img src="./assets/images/dashboard/dashboard-lunchr-u2014-tonton-marty@2x.png" class="lunchru2014tontonmarty"/>
        </div>


      </div>

    </div>
  </header>

  <section class="body-section">

    <div class="container-fluid">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Returning</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

<!--      All customers-->
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <div class="search-filter">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control search" type="search" placeholder="Filter customers" aria-label="Search">
          </form>
        </div>

        <div class="container-fluid" style="background-color: #ffffff;">

          <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Name</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Email</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Gender</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">No. of ratings</h4>
            </div>

          </div>
          <hr>

          <div class="row customerdetails" routerLink="/customer-details">

                <div class="col-xs-12 col-md-6 col-lg-3">
                  <span class="card-text2">{{'Marty Byrde' | anonymize: 'shuffle'}}</span>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                  <span class="card-text2">martyb@gmail.com</span>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                  <span class="card-text2">Male</span>
                </div>


                <div class="col-xs-12 col-md-6 col-lg-3">
                  <span class="card-text2">3</span>
                </div>


          </div>
          <hr>


        </div>
        </div>


<!--New customers-->
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="search-filter">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control search" type="search" placeholder="Filter customers" aria-label="Search">
          </form>
        </div>

        <div class="container-fluid" style="background-color: #ffffff;">

          <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Name</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Email</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Gender</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">No. of ratings</h4>
            </div>

          </div>
          <hr>

          <div class="row customerdetails">

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">Marty Byrde</span>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">martyb@gmail.com</span>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">Male</span>
            </div>


            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">3</span>
            </div>


          </div>
          <hr>


        </div>




      </div>

<!--      Returning customers-->

      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="search-filter">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control search" type="search" placeholder="Filter customers" aria-label="Search">
          </form>
        </div>

        <div class="container-fluid" style="background-color: #ffffff;">

          <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Name</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Email</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">Gender</h4>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <h4 class="kanban-title">No. of ratings</h4>
            </div>

          </div>
          <hr>

          <div class="row customerdetails">

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">Marty Byrde</span>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">martyb@gmail.com</span>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">Male</span>
            </div>


            <div class="col-xs-12 col-md-6 col-lg-3">
              <span class="card-text2">3</span>
            </div>


          </div>
          <hr>
        </div>






      </div>
    </div>
    </div>


  </section>


</main>
